<div class="alert alert-danger text-center">
  <h2></h2>
</div>

<div class="card">
  
  <div class="card-header bg-primary py-4 text-white text-center">
    <h2>No articles? What would you like to do?</h2>
  </div>
  
  <div class="card-body text-center">
    <h3>
      <a class="scrapeBtn buttonLink">Scrape for New Articles</a>
    </h3>
    <h3>
      <a class="savedBtn buttonLink">Show Saved Articles</a>
    </h3>
  </div>
  
</div>

<style type="text/css">
    .buttonLink {
        cursor:pointer;
    }
</style>
